PORT=8000

SECRET_KEY=clave_secreta_super_segura

# La contraseña esta en la URL de la base de datos, no es necesario definirla aquí
# DB Asíncrona usa postgresql+asyncpg
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/arquetipo_db

JWT_SECRET_KEY=otra_clave_para_jwt
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=1
